body{
color: var(--naviblue);
font-family: 'Roboto';
}
ul{
list-style: none;
}
:root{
--naviblue: #2E2F42;

--slate: #434455;

--white: #FFFFFF;

--cloud: #F4F4FD;

--iris: #4D5AE5;
}
/* Header */


/* Logotip */
.logotip{
 font-family:'Raleway';
 font-style: normal;
 font-weight: 800;
 font-size: 18px;
 line-height: 21px;
 text-decoration: none;  
}
.web{
color: var(--iris);
}
/* Navigation */
.menu-nav{
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 color: var(--naviblue); 

}
.contacts{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--slate);
}
/* Hero */
.hero{
color: var(--white);
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
}
.button{
font-style:normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: var(--white);
box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
} 

.skills{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px; 
color: var(--naviblue);
}
.skills-item{
 font-weight: 400;
 font-size: 16px;
 line-height: 24px; 
 color: var(--slate);
}
/*Section 3 */
.work{
 font-style:normal;
 font-weight: 700;
 font-size: 36px;
 line-height: 40px;
 color: var(--naviblue);
}
/* Footer */
.call{
 font-style:normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;  
 color: var(--cloud);
}


